


         {% extends 'base.html' %}
         {%load static%}
         {% block top_title %}Blog....{% endblock %}
         {% block login_style %}
         
         
         {% endblock %}
         {% block content %}
         <div class="container">
                <div class="mt-5 text-center  p-4">			
                        <image src='{%static 'image\about.png' %}'  width="240" height="240" class='img-fluid' >			
                         
                         </div>
                         <div class="bg-info sideBarBackground p-4 mb-4">
                             <p class='h3 text-light text-center'>Who we are</p><hr style="background: white;">
                            
                             <p class='lead text-light'>Have you at anytime witnessed a relative of yours or a close  friend searching frantically for a blood donor, when blood banks say out of  stock, the donors in mind are out of reach and the time keeps ticking? Have you  witnessed loss of life for the only reason that a donor was not available at  the most needed hour? Is it something that we as a society can do nothing to  prevent? This thought laid our foundation.<br>
                                <br>
                              "Friends2support" is an organization that brings  voluntary blood donors and those in need of blood on to a common platform.&nbsp; Through this website, we seek donors who are  willing to donate blood, as well as provide the timeliest support to those in  frantic need of it. <br>
                              <br>
                              Started in the year 2005, on 14th Nov, in a small room with just  100 voluntary donors but with the zeal to serve our society, to inspire and  spread the word, we dream to fulfill 100% blood need in India.<br>
                              <br>
                              Our mission is to fulfill every blood request in the country  with a promising web portal and motivated individuals who are willing to donate  blood.<br>
                              <br>
                              Our vision is to be “The hope of every Indian in search of a  voluntary blood donor”<br>
                                <br>
                                Our motto - “Donate blood to save the most precious human life”<br>
                                <br>
                                To be a donor.<br>
                                <br>
                                To search for a donor in your area<br>
                                <br>
                                "Friends2support" also works to provide educational  support to brilliant students who have discontinued their studies because of  unfortunate circumstances.<br>
                                <br>To know about “Support student education” and about “Present a  Cycle to Merit Student” programmes<br>
<br>
		
                         </div>
         </div>
         {% endblock%}         