{% extends 'base.html' %}
{% load static %}
{% block top_title %}Login....{% endblock %}
{% block login_style %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "login\style.css" %}">

{% endblock %}
{% block content %}
<div id="bgimg" style="background-image:url('{% static 'image\bg_img.jpg' %}');">
<div  class="container">
<div class="classname">
<div id="logreg-forms" >
  <form class="form-signin " action="{% url 'login' %}" method="post" >
        
    
        {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
      <div class="social-login">
          <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
          <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
      </div>
      <p style="text-align:center"> OR  </p>

      <p class="bg-danger mb-2">{{error}}</p>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus="" name="username">
      <br>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
      <br>
      <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
      <a href="{% url 'password_reset' %}" id="forgot_pswd">Forgot password?</a>
      <hr>
      <!-- <p>Don't have an account!</p>  -->
      
      <a href="{% url 'signup' %}" style="text-decoration:none;"><button  class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button></a>
      </form>

      
      
      
     </div>
      
</div>
</div>
</div>

{% endblock %}
{% block login_js%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}